/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.btn {
    margin: 10px;
}

.table td,
.table th {
    vertical-align: middle;
    /* Centraliza verticalmente o conteúdo das células */
}

