<div class="container text-center mt-5">
    <h1 class="mb-4">Boas vindas ao Projeto CRUD</h1>
    <p>Escolha uma das opções abaixo para navegar:</p>

    <div class="row justify-content-center mt-4">
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-block" routerLink="/alunos">Página de Alunos</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-secondary btn-lg btn-block" routerLink="/cursos">Página de Cursos</a>
        </div>
    </div>
</div>